<span style="color: #191919;">
    <b>MKT: </b>
</span>{0}
<br />
<b>AÇÃO</b>: --<br />
    <span style="color: #191919;">
        <b>OC: -- </b>
    </span>
<br />
<span style="color: #191919;"><b>ITEM: --</b></span>
<br /><br />
<b>Demanda: </b> {1}
<br /><br />
<b>
    SERVIÇOS ESSENCIAIS
</b>
<br />
<table>
    <tr>
        <td>ITEM</td>
        <td>DESCRIÇÃO</td>
        <td>QTD</td>
        <td>ESPECIFICAÇÃO</td>
        <td>UNITÁRIO</td>
        <td>VALOR TOTAL</td>
    </tr>
    <!-- Aqui começa cada linha do item -->
    {2}
</table>
<br />
<span style="color: #191919;">ORÇADO X REALIZADO</span>
<br /><br />
<table>
    <tr>
        <td><b>N° DOAC</b></td>
        <td><b>Serviço Realizado</b></td>
        <td><b>CNPJ e Razão Social</b></td>
        <td><b>Valor Orçado</b></td>
        <td><b>Valor Realizado</b></td>
        <td><b>Honorário</b></td>
        <td> <b>Comprovação</b></td>
    </tr>
    <tr>
        <td>--</td>
        <td>BCommerce :: {5}</td>
        <td>04.692.238/0001-86 Monumenta Comunicação e estratégias Sociais LTDA</td>
        <td>{3}</td>
        <td>{4}</td>
        <td>R$0,00</td>
        <td>Em anexo</td>
    </tr>
</table>
<br />
